    <div class="container">
      <div class="row">
          <div class="page-header">

              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Register Time</th>                   
                    <th>Operations</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% @users.each do |user|%>
                  <tr>
                    <th><%=user.id %></th>
                    <th><%=user.username %></th>
                    <th><%=user.phone %></th>
                    <th><%=user.email %></th>
                    <th><%=user.created_at %></th>
                    <th>
                       <%= link_to 'Show' , users_show_path(user.id), class: "btn btn-default"%> 
                       <%=link_to 'Delete', user_delete_path(user.id), class: "btn btn-default"%>
                    </th>
                  </tr>
                  <%end%>
                  <tr>
                    <%=link_to 'Previous Page', users_admin_path(page: [@page-1,1].max), class: "btn btn-default"%>
                    Page <%= @page %> 
                    <%= link_to 'Next Page', users_admin_path(page: [@page+1,@total_pages].min ), class: "btn btn-default"%>
                    Total <%=@total_pages%>
                    <%=form_tag(users_admin_path ,method: 'get') do%>
                    To <input id="page" name="page" value=<%=@page%> size="2"> page
                    <button type="submit" class="btn btn-default" onclick="return checkInput();">Go</button>
                    <%end%>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" >
            </div>
            <div class="col-md-6">
              
            </div>
          </div>
      </div>

      <script type ="text/javascript">
      function checkInput(){
        var page=document.getElementById("page")
        if (page.value.length==0) {
          alert("page number can not be empty")
          return false
        }
        return true
      }  
    </script>