	<br><br>
	<div class="container" style="width: 500px">
		
		<%=form_tag("/users/change", method: "post") do%>
			<div class="form group">
				<label >username *</label>
				<input  id="uname" class="form-control" name="username" value=<%=@user.username%>>
			</div>
			<div class="form group">
				<label >password *</label>
				<input  id="pwd" type="password" class="form-control" name="password" value=<%=@user.password%>>
			</div>
			<div class="form group">
				<label >phone number</label>
				<input  id="phone" type="tel" class="form-control" name="phone" value=<%=@user.phone%> >
			</div>
			<div class="form group">
				<label >email</label>
				<input  id="email" type="email" class="form-control"  name="email" value=<%=@user.email%> >
			</div>	
			<div class="form group">
				<label>address</label>
				<textarea id="address" class="form-control" name="addr" col="24 " row="4"><%=@user.addr%></textarea>
			</div>		
			<input type="hidden" name="id" value=<%=@id%> >
			<div>
				<button type="submit" class="btn btn-default" onclick="return checkInput();">submitt</button>
				<button class="btn btn-default" onclick="return backToHome();">return</button>
			</div>
		<%end%>
		 

		<script type ="text/javascript">
			function checkInput(){
				var uname=document.getElementById("uname")
				if (uname.value.length==0) {
					alert("please enter username")
					return false
				}
				var pwd=document.getElementById("pwd")
				if (pwd.value.length==0) {
					alert("please enter password")
					return false
				}
				return true
			}

			function backToHome(){
				window.location.href="/"
				return false
			}
		</script>
	
