    <div class="container">
      <div class="row">
          <div class="page-header">

              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <th>Username:</th>
                    <th><%=@user.username%></th>
                  </tr>
                  <tr>
                    <th>Phone Number:</th>
                    <th><%=@user.phone%></th>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <th><%=@user.email%></th>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <th><%=@user.addr%></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         <div class="row">
            <div class="col-md-3" >
            </div>
            <div class="col-md-6">
              <a href=<%='/users/modify/'+@id %> class="btn btn-default">Modify</a>
              <a href=<%='/users?page_num='+@page_num %> class="btn btn-default">Back</a>
            </div>
          </div>
      </div>