<div class="row">
<br><br><br>
</div>
<div class="row">
	<div class="col-md-2">
		<br>
		<h4><%=link_to 'All Categories', products_admin_path%></h4>
        <br>
        <% @root_categories.each do |rcate|%>                 
	        <ul>
	          <%cates=Category.where(pid: rcate.id)%>
	          <h4><%=rcate.name%></h4>
	          <%cates.each do |cate|%>
	          	<li><h5><%=link_to cate.name, products_admin_path(category_id: cate.id) %></h5></li>
	          <%end%>
	        </ul>
        <%end%>
    </div>
    <div class="col-md-10">
    	<div class="row">
    		<br>
    		<br>
    			<% if notice%>
				<%=notice%>
				<%end%>
        </div>
    	<div class="row">
    	<table class="table table-stripped">
            <thead>
                  <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Price</th>
                    <th>Category</th>                   
                    <th>Operations</th>
                  </tr>
            </thead>
            <tbody>                 
                <% @products.each do |product|%>
                <tr>
                    <th><%=product.id %></th>
                    <th><%=product.name %></th>
                    <th><%=product.descr %></th>
                    <th><%=number_to_currency product.price %></th>
                    <th><%=product.category.name %></th>
                    <th>
                       <a href=<%="products/"+product.id.to_s+"&"+@page.to_s %> class="btn btn-default">Show</a>
                       <%= link_to 'Modify' ,products_modify_path(product.id), class: "btn btn-default"%>
                       <a href=<%='products/delete/'+product.id.to_s%> class="btn btn-default">Delete</a>
                    </th>
                </tr>
                <%end%>
                <tr>
                	<%=link_to 'Previous Page', products_admin_path(page: [@page-1,1].max , category_id: @category_id), class: "btn btn-default"%>
                    Page <%= @page%> 
                    <%=link_to 'Next Page', products_admin_path(page: [@page+1,@total_pages].min , category_id: @category_id), class: "btn btn-default"%>
                    Total <%=@total_pages%>
                    <%=form_tag(products_admin_url,method: 'get') do%>
                    To <input id="page" name="page" value=<%=@page%> size="2"> page
                  	<input type="hidden" name="category_id" value=<%=@category_id%>>
                    <button type="submit" class="btn btn-default" onclick="return checkInput();">Go</button>
                    <%end%>
                    <%=link_to 'Add New Product', products_new_path(category_id: @category_id), class: "btn btn-default"%>
                    
                </tr>
            </tbody>
        </table>
    </div>

    </div>
</div>

    <script type ="text/javascript">
      function checkInput(){
        var page=document.getElementById("page")
        if (page.value.length==0) {
          alert("page number can not be empty")
          return false
        }
        return true
      }  
    </script>