<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <link rel='stylesheet' type='text/css' href='bootstrap.min.css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <a class="navbar-brand" href="/">Home</a>
              <div>
              <ul class="nav navbar-nav">
                  <li><%=link_to "All Categories",root_path%></li>
                  <li><%=link_to "My Shopping Cart",carts_show_path%></li>
                  <% if administrator_loggedin?%>
                  <li><%= link_to "Categories Admin",categories_admin_path%></li>
                  <li><%= link_to "Products Admin",products_admin_path%></li>
                  <li><%= link_to "Users Admin" , users_admin_path%></li>
                  <%end%>
              </ul>
            </div>
            <div class="pull-right">
            		<ul class="nav navbar-nav">
            			<li><%=link_to "User Registration" ,users_new_path%></li>
            			<%if user_loggedin?%>
            			<li><%=link_to "User Logout" ,users_logout_path%></li>
            			<%else%>
            			<li><%=link_to "User Login" ,users_login_path%></li>
            			<%end%>

            			<%if administrator_loggedin?%>
            			<li><%=link_to "Admin Logout" ,administrators_logout_path%></li>
            			<%else%>
            			<li><%=link_to "Admin Login" ,administrators_login_path%></li>
            			<%end%>
            		</ul>
            </div>
          </div>
     </div>
<br>


<%= yield %>

</body>
</html>
